Print the first 5 positive integers in ascending order with one number in each line

In [2]:
for x in range (1,6):
    print (x, end=' ')

1 2 3 4 5

##question

*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces at the end of each line.

In [359]:
a = str('*')
print(a)
print(a+a)
print(a+a+a)
print(a+a+a+a)
print(a+a+a+a+a)

*
**
***
****
*****

Accept an integer as input and print its square as output.

In [45]:
A = int(input())

print(A*A)

5
25

Accept two integers as input and print their sum as output.

In [7]:
A = int(input())
B = int(input())
C = A+B
print(C)

2
3
5

Accept two words as input and print the two words after adding a space between them.

In [8]:
A = str(input())
B = str(input())
print(A+" "+B)

se
es
se es

Accept the registration number of a vehicle as input and print its state-code as output.

In [20]:
A = input('Enter the number plate:' )
print(A[0],A[1])
#remove the space frm output

Enter the number plate:hr4019
h r

Accept a five digit number as input and print the sum of its digits as output

In [27]:
for x in range (1,6):
    print(x, end='')
#wrong approach

12345

In [30]:
num = 5
sum = 0
for i in range(num+1):
  sum+=i
print(sum)

15

In [31]:
num=5
sum=0
for i in range(num+1):
    sum+=i
print(sum)

15

In [10]:
n=5
print(n*(n+1)/2)

15.0

IndentationError: expected an indented block (Temp/ipykernel_26632/33217300.py, line 4)

Accept five words as input and print the sentence formed by these words after adding a space between consecutive words and a full stop at the end.

In [2]:
list = ['Apple','Orange','laptop','mouse','eat','.']
print(' '.join(list))
#join is function and can't use here. plus

Apple Orange laptop mouse eat .

In [47]:
list = ['Apple','Orange','laptop','mouse','eat']
sum = 0
for i in list:
    sum = i+1
    print(sum)

TypeError: can only concatenate str (not "int") to str

Accept the date in DD-MM-YYYY format as input and print the year as output.

In [59]:
# importing the datetime module
import datetime

# Getting todays date and time using now() of datetime
# class
current_date = datetime.datetime.now()

# Printing the current_date as the date object itself.
print("Original date and time object:", current_date)

# Using the strftime() of datetime class
# which takes the components of date as parameter
# %Y - year
# %m - month
# %d - day
# %H - Hours
# %M - Minutes
# %S - Seconds
print("Date and Time in Integer Format:",
	int(current_date.strftime("%Y%m%d%H%M%S")))

Original date and time object: 2022-12-26 20:26:09.872565
Date and Time in Integer Format: 20221226202609

In [195]:
date = input()
print(date[6:10])

16-12-2000
2000

In [65]:
a = 'asdfrneiorhe'
print(a[-3:])

rhe

In [2]:
date = input()
print(date[-4:])

12-12-1222
1222

Accept a sequence of five single digit numbers separated by commas as input. Print the product of all five numbers.

In [373]:
a = input()
b = int(a[:1])*int(a[2:3])*int(a[4:5])*int(a[6:7])*int(a[8:9])
print(b)

1,2,3,4,5
120

Assume that several IITs start offering online degrees across multiple branches. The email-id of a student is defined as follows:
branch_degree_year_roll@student.onlinedegree.institute.ac.in
For example, if the email-id is CS_BT_21_7412@student.onlinedegree.iitm.ac.in, then this student is from the computer science branch, pursuing a BTech degree from IITM, starting from the year 2021, with 7412 as the roll number. branch, degree and year are codes of length two, while roll and institute are codes of length four. Accept a student's email-id as input and print the following details, one item on each line:

(1) Branch
(2) Degree
(3) Year
(4) Roll number
(5) Institute

In [28]:
# branch = input()
# a,b,c,d,e = map(str, input().split())

email = input()
Branch = print("\n",email[0:2],"\n",email[3:5],"\n",email[6:8],"\n",email[9:13])

CS_BT_21_7412@student.onlinedegree.iitm.ac.in

 CS
 BT
 21
 7412

Accept two positive integers x and y as input. Print the number of digits in x**y. You should be able to solve this problem using the concepts covered in week-1.

In [355]:
a = int(input())
b = int(input())
print(len(str(a**b)))

2
2
1

Accept two positive integers M and N as input. There are two cases to consider

(1) If M < N, then print M as output.

(2) If M >= N, subtract N from M. Call the difference M1. If M1 >= N, then subtract N from M1 and call the difference M2. Keep doing this operation until you reach a value k, such that, Mk < N. You have to print the value of Mk as output. You should be able to solve this problem using the concepts covered in week-1.

In [350]:
M = int(input("Enter the Value of M:" ))
N = int(input("Enter the value of N: "))
M1 = M-N
if M<N:
    print(M)
else:
    print(M % N)

Enter the Value of M:120
Enter the value of N: 7
1

In [38]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Accept a non-zero integer as input. Print positive if it is greater than zero and negative if it is less than zero.

In [64]:
a = int(input());
if a <0: print("Negative"); 
else: print("Positive");

0
Positive

In [47]:
num = int(input())
for i in range(1,11):
    print(num,'x',i,'=',num*i)

5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [48]:
num = int(input())
for i in range(1,11):
    #print(num,'x',i,'=',num*i)
    print(f'{num}x{i} = {num*i}')

6
6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
6x10 = 60

In [52]:
num = int(input())
for i in range(1,11):
    #print(num,'x',i,'=',num*i)
    #print(f'{num}x{i} = {num*i}')
    print('%d x %d =%d' % (num,i,num*i))

6
6 x 1 =6
6 x 2 =12
6 x 3 =18
6 x 4 =24
6 x 5 =30
6 x 6 =36
6 x 7 =42
6 x 8 =48
6 x 9 =54
6 x 10 =60

In [53]:
pi = 22/7
print(f'value of pi ={pi}'.format(pi))

value of pi =3.142857142857143

In [69]:
x = int(input())
if x<0:
    print(0)
if x>=10:
    print((x**2)+2)
else:
    print(x+2)

-5
0
-3

In [196]:
x = float(input())
if x <0:
    print(0)
else:
    if x>=10:
        print((x**2)+2)
    else:
        print(x+2)

10
102.0

In [85]:
t = float(input())

if t < 0:
    print('Invalid')
else:
    if 0 <= t <= 5:
        print('Night')
    else:
        if 6 <=t <=11:6-
            print('Morning')
        else:
            if 11<=t <=17:
                print('Afternoon')
            else:
                if 18 <= t <= 23:
                    print('Evening')
                else:
                    print('Invalid')

25
Invalid

In [91]:
x1 = int(input())
x2 = int(input())
y1 = int(input())
y2 = int(input())

x-x1 = (y-y1)(x2-x1)/(y2-y1)

4
5
6
6

In [102]:
word = input()
lgth = len(word)

rem = lgth %2 == 0

if rem != False:
    print(word)
else:
    if word[-1] == '.':
        word2 = word[:-1]
        print(word2)
    else:
        word3 = word+'.'
        print(word3)

jise.
jise

In [104]:
l1 = input()
l2 = input()
l3 = input()
l4 = input()
l5 = input()

s1 = l1.split()
s2 = l2.split()
s3 = l3.split()
s4 = l4.split()
s5 = l5.split()

print(s4)

a
b
abc
kie
ikes
['kie']

You have n gold coins with you. You wish to divide this among three of your friends under the following conditions:
(1) All three of them should get a non-zero share.
(2) No two of them should get the same number of coins.
(3) You should not have any coins with you at the end of this sharing process.
The input has four lines. The first line contains the number of coins with you. The next three lines will have the share given to your three friends. All inputs shall be non-negative integers. If the division satisfies these conditions, then print the string FAIR. If not, print UNFAIR.

In [152]:
total = int(input())
f1 = int(input())
f2 = int(input())
f3 = int(input())

if f1==0 or f2==0 or f3 == 0:
    print('UNFAIR')
else:
    if f1==f2 or f1==f3 or f2==f3:
        print('UNFAIR')
    else:
        if total - (f1+f2+f3) > 0:
            print('UNFAIR')
        else:
            print('FAIR')

10
2
3
5
FAIR

Accept a real number xx as input and print the greatest integer less than or equal to xx on the first line, followed by the smallest integer greater than or equal to xx on the second line.

2.5
2

In [185]:
n = float(input())

i,d = divmod(n,1)

# if d >=5:
#     print(1)
# else:
#     print(0)
#     print(i+d)
if d <0.5:
    n = i
    print(n)
else:
    n=i+1
    print(n)

2.9
3.0

In [190]:
int(-2.5)

-2

In [187]:
int(2.9)

2

In [189]:
2.5 - int(2.5)

0.5

Accept a string as input and print the vowels present in the string in alphabetical order. If the string doesn't contain any vowels, then print the string none as output. Each vowel that appears in the input string — irrespective of its case — should appear just once in lower case in the output.

In [345]:
word = input()
if 'a' in word:
    print('a')
if 'e' in word:
    print('e')
if 'i' in word:
    print('i')
if 'o' in word:
    print('o')
if 'u' in word:
    print('u')
else:
    print('none')

wrtyp sdf
none

You are given the dates of birth of two persons, not necessarily from the same family. Your task is to find the younger of the two. If both of them share the same date of birth, then the younger of the two is assumed to be that person whose name comes first in alphabetical order.

The input will have four lines. The first two lines correspond to the first person, while the last two lines correspond to the second person. For each person, the first line corresponds to the name and the second line corresponds to the date of birth in DD-MM-YYYY format. Your output should be the name of the younger of the two.

In [347]:
#getting input for first person,his DOB, second person name and DOB
name_a = input('enter the name of first person:' )
dob_a = input('enter the date of birth in DD-MM-YYYY:' )
name_b = input('enter the name of second person:' )
dob_b = input('enter the date of birth in DD-MM-YYYY:' )

#splitting the string and convert into int.
day_a = int(dob_a[:2])
month_a= int(dob_a[3:5])
year_a = int(dob_a[6:10])

day_b = int(dob_b[:2])
month_b= int(dob_b[3:5])
year_b = int(dob_b[6:10])

#logic and code.

if year_a>year_b:
    print(name_a)
elif year_b>year_a:
    print(name_b)
else:
#     year_a=year_b
    if month_a>month_b:
        print(name_a)
    elif month_b>month_a:
        print(name_b)
    else:
#         month_a=month_b
        if day_a>day_b:
            print(name_a)
        elif day_b>day_a:
            print(name_b)
        else:print(min(name_a,name_b))
#             day_a = day_b 
#             if name_a[:1]>name_b[:1]:
#                 print(name_a)
#             else:print(name_b)

enter the name of first person:aabbcc
enter the date of birth in DD-MM-YYYY:12-12-2000
enter the name of second person:aabbcd
enter the date of birth in DD-MM-YYYY:12-12-2000
aabbcc

In [251]:
print(max("ABC","ABD"))

ABD

Accept a string as input. Your task is to determine if the input string is a valid password or not. For a string to be a valid password, it must satisfy all the conditions given below:

(1) It should have at least 8 and at most 32 characters

(2) It should start with an uppercase or lowercase letter

(3) It should not have any of these characters: / \ = ' "

(4) It should not have spaces

It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 4). Output True if the string forms a valid password and False otherwise.

In [259]:
pp = input()

if 8<=len(pp)<=32:
    if pp.isupper():
        if pp.islower():
            if pp != '/':
                if pp != '=':
                    print('Valid Passport')
                else: print('Not Valid passport')

12345678BHdd

In [260]:
PP = 'niioierir'
if 8<=len(pp)<=32:
    print('valid')

valid

In [295]:
pp = input()

if len(pp) >= 8 and len(pp) <= 32: 
for i in pp:
    if i.islower():
    if i.isupper():
        print('VALID')
else:
    print('INVALID')

IndentationError: expected an indented block (Temp/ipykernel_38524/1691217590.py, line 4)

In [343]:
e1 = int(input())
e2 = int(input())
e3 = int(input())
e4 = int(input())
e5 = int(input())
if (e1+e2)%2 != 0 or (e2+e3)%2 != 0 or (e3+e4)%2 != 0 or (e4+e5)%2 != 0 or (e5+e1)%2 != 0:
    print('no')
else:
    print('yes')

1
3
4
5
6
no

In [1]:
#will take two input as string. create a list of alphabets from a to h.
#split both the entries and check alpha numbers.substract with each and find the gap
#compare the gap of alpha and numeric and if they are same will say yes otherwise no.

start = input()
end =input()

sa = start[:1]
sn = int(start[1:2])
ea = end[:1]
en = int(end[1:2])

if sa.index() == ea.index():
    print('yes')

a1
c2

TypeError: index() takes at least 1 argument (0 given)

accept a positive inteter n as input and print the first positive first n integers, one number in each line.

In [1]:
a = int(input())
n = 0

while n != a:
    n = n+1
    print(n)

5
1
2
3
4
5

accept a positive integer n as input and print all factor of n, one number in each line.

In [25]:
n = int(input())
m = 0
while m < (n+1)/2:
    m = m+1
    if n % m == 0:
        print(m)

10
1
2
5

accept two positive integers a and b as input. print the sum of all integer in the range [1000,2000], endpoint inclusive, that are divisible by both a and b. if you find no number satisfing this condition in given range, print 0

In [17]:
a = int(input())
b = int(input())
n = 1000
while n != 2001:
    n = n+1
    if n %a ==0 and n % b == 0:
        print(n)

17
19
1292
1615
1938

accept a positive interger n as input, n >1, print prime if n is a prime number and non prime otherwise

In [28]:
n = int(input())
m = 2

while m < (n+1)/2:
    m=m+1
    if n%m==0:
        print('non prime')
        break
    else:
        print('prime')
        break

7
prime

accept a sequence of positive integers as input and print the maximum number in the sequence. the input will have n+1 lines, where n denotes the number of terms in the sequence. the ith line in the input will contain the ith term of the sequence for 1<= i <= n. the last line of the input will always be 0. each test case will have at least one term in sequence.

In [29]:
word = int(input())
maxlen = 0

IndentationError: expected an indented block (Temp/ipykernel_14404/2641961393.py, line 5)

accept a positive integer as input and print the sum of the digits in the number.

In [71]:
n = int(input())
r = 0
while (n>10):
    r = r + n %10
    n = n //10
print(r+n)

12345
15

Accept a positive integer n as input and print the first n integers on a line separated by a comma.

In [94]:
n = int(input())
for i in range(1,(n+1),1):
    
   # print(i,end=',')
    if i != n:
        print(i,end=',')
    else:
        print(i)

10
1,2,3,4,5,6,7,8,9,10

accept a positive integer n as input and print a triangle of zeros for n lines.the ith line should have i zero. there should not be any space between consecutive zeros. do not print a space at the end of a line.

In [114]:
n = int(input())
s=0
while s != n:
    s=s+1
    s == '0'
    d=('0'*s)
    
    d.replace(' ','')
    d.strip()
    print(d)

5
0
00
000
0000
00000

Accept a positive integer n as input and print the sum of all the prime numbers in the range [1,n], endpoint inclusive. If there are no prime numbers in the given range, then print 0

In [157]:
n = int(input())
m = 1
while m < (n+1)/2:
    
    if n % m == 0:
        m = m+1
        print(m)
    else:
        m =m+1
    print('0')

10
2
0
3
0
0
0
6
0

In [158]:
n = int(input())
m = 0
r=0
while m < (n+1)/2:
    m = m+1
    if n % m != 0:
        
        print(m)

10
3
4
6

In [160]:
List = [23,45,65,45,332,54]
total = 0

for index in range(len(List)):
    total = total + List[index]
print(total)

564

In [161]:
range = 5

In [163]:
print(range(5))

TypeError: 'int' object is not callable

In [19]:
n = int(input())
flag=False

for x in range(1,(n-2)):
    for y in range(2,(n-1)):
        for z in range(3,(n)):
            if (x**2)+(y**2) == (z**2):
                flag = True
                print(x,y,z)
                
if flag == False:
    print('No Solution')

2
No Solution

for i in range(1,2):
    print(i)

Accept two integer as input and form a new string by removing all characters from the second string which are present in the first string. print this new string as output. you cna assume that all input strings will be in lower case.

In [96]:
a = input()
b = input()
c =''
for i in a:
    if i not in b:
        c += i
print(c)

1234
3456
12

accept a positive integer n as input and print the sum of the first n terms of the series given below:
1+(1+2)+(1+2+3)+(1+2+3+4)+....

In [88]:
n = int(input())

sum = sum([n*(n+1)/2]) 
for i in range(1, n+1):
    print(sum)

Enter value of n: 10

TypeError: 'float' object is not callable

In [95]:
n = int(input())
i = 0
total= 0

while i != n:
    i = i+1
    total = (i*(i+1)/2)
    print(total, end='+')

10
1.0+3.0+6.0+10.0+15.0+21.0+28.0+36.0+45.0+55.0+

Accept a positive integer n with n >1, as input from user and print all prime factors of n in acending order.

In [102]:
n = int(input())
m = 1
while m < (n+1)/2:
    m = m+1
    if n % m == 0:
        
        print(m,end=',')

20
1,2,4,5,10,

In [114]:
n = int(input())
c = 2
while (n>1):
    if (n%c ==0):
        print(c, end =" ")
        n=n/c
    else:
        c=c+1
print(c)

20
2 2 5 5

In [116]:
n = int(input())
def primefactor(n):
    c = 2
    while (n>1):
        if (n%c ==0):
            print(c, end =" ")
            n=n/c
        else:
            c=c+1
primefactor(n)

20
2 2 5

a bot start from the origin, and move up, down, right, left, find the mahattan distance.

In [117]:
print('Start')
move = input()

x = 0
y = 0

right = 1
left = -1
up = 1
down = -1
l = {x:'right',-x:'left',y:'up',-y:'down'}

while move != 'End':
    x= x+move
    y=y+move
print(x,y)

Start
left

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Accept a string as input, convert it in lower case, sort the alphabets in alphabetic order, and print the sort string to the console. you can assume that the string will only contains letters.

In [128]:
n = input()
m =n.lower()

print(sorted(m))

SJIRINFIE
['e', 'f', 'i', 'i', 'i', 'j', 'n', 'r', 's']

In [149]:
number = input()
List = '1234567890'
if number[0] == '9'or number[0] == '8' or number[0]=='7' or number[0]=='6':
    if len(number) == 10:
        count{}

9876543212

TypeError: 'int' object is not iterable

In [172]:
number = input()

List ='1234567890'

count = {}
for i in number:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1

for key in count:
    if count[key] > 1:
        print (count[key])

9998
3

In [177]:
n = input()
s=0

for i in range(len(n)):
    while i != n[-1]:
        if n[i] >= n[i-1]:
            s=n[i]
        else:
            s = n[i+1]
print(s)

9987

KeyboardInterrupt:

In [213]:
numbers = [1,1,2,3,5,9,8]
max_value = numbers[0]

for number in numbers[1:]:
    if number>max_value:
        max_value=number
# maxnum = list1[0]

# for x in list1:
#     if x > (x+1):
#         maxnum=x
#     else:
#         maxnum=x+1
# print(maxnum)

def get_max_from_list(numbers): 
    # Step 1) Initialize candidate to first element in list
    max_value = numbers[0]
    # Step 2) Go through all remaining numbers in the list
    for number in numbers[1:]:
        # Step 3) Check number is larger than our candidate
        if number > max_value: 
            # Step 4&5) Overwrite candidate with maximum
            max_value = number
    # Outside of the loop max_value is not maximum
    return max_value
# Output the result 
print(get_max_from_list(max_value))

NameError: name 'max_value' is not defined

In [224]:
list1 = [9,8,2,3,5,1,8]
maxnum=list1[0]
for i in range(len(list1)-1):
    if list1[i]>list1[i+1]:
        maxnum=list1[i]
    else:
        maxnum=list1[i+1]

        if maxnum > list1[-1]:
            print(maxnum)
        else:
            print(list1[-1])

8

In [215]:
list1 = [1,1,2,3,5,9,8]
max_num=list1[0]
for i in list1:
    if i>max_num:
        max_num=i
print(max_num)

9

In [227]:
list1 =[1,1,2,3,5,9,8]
min_num = list1[0]
for i in list1:
    if i<min_num:
        min_num=i
print(min_num)

1

In [253]:
l2 =[1,1,2,3,9,9,2,9,9,9]
max_value=l2[0]
count = 0
for i in l2:
    if i > max_value:
        max_value=i
for j in l2:
    if j == max_value:
        count = count+1
#print(l2.count(max_value))
print(max_value)
print(count)

9
5

In [258]:
number = input()
List = '1234567890'
max_count=0
max_value=number[0]
if number[0] == '9'or number[0] == '8' or number[0]=='7' or number[0]=='6':
    if len(number) == 10:
        for i in number:
            if i > max_value:
                max_value=i
                max_count=number.count(max_value)
                if max_count < 7:
                    print('valid')

98888888

In [254]:
number = str(123334544)
count = 0
k = 0
for i in number:
    if i== number[k]:
        count = count+1
        k= k+1
    else:
        k=k+1
print(count)
print(k)

9
9

In [268]:
x=0
y=0
A=input()
while A != 'STOP':
    A=input()
    if A=='LEFT':
        x=x-1
    elif A == 'RIGHT':
        x=x+1
    elif A == 'UP':
        y=y+1
    elif A == 'DOWN':
        y=y-1
print(x,y)

START
UP
RIGHT
LEFT
LEFT
DOWN
UP
STOP
-1 1
0

In [270]:
for i in range(10,3,-2):
    print(i)

10
8
6
4

5

In [283]:
n = int(input(n))
for i in range(1,n+1):
    print(i,end='')

55
12345

In [154]:
n = int(input())
for i in range(1,(n+1)):  
    for j in range(1,i+1):
        print((j),end=',')
    print('\n')
    
for k in range((n),1,-1): 
    for w in range(k-1):
        print(w+1,end=',')
    print('\n')

5
1,

1,2,

1,2,3,

1,2,3,4,

1,2,3,4,5,

1,2,3,4,

1,2,3,

1,2,

1,

In [98]:
n = int(input()) #getting an input from user, could be any positive integer >=2
for i in range(1,(n+1)): #creating a range and avoiding '0' as first number. 
    for j in range(1,i+1): #get one value of i at a time till i+1.
        print((j),end=',')#print every result of above loop and insert comma in between
    print('\n')#break the line once one j loop complete and move to next line.
    
for k in range((n),1,-1): #(4,0,-1) startng with 4, go till 1 with -1 step at a time
    for w in range(k-1): # pick one value of k starting from 4 till 1
        print(w+1,end=',') # print w till w+1 and put comma and every element
    #print(end='')
    print('\n')# once w loop ends everytime, break the line and move to next.

5
1,

1,2,

1,2,3,

1,2,3,4,

1,2,3,4,5,

1,2,3,4,

1,2,3,

1,2,

1,

In [101]:
n = int(input())
for i in range (1,(n+1)):
    print(i)

5
1
2
3
4
5

5
4
3
2
1

In [86]:
n = int(input())
for i in range(1,(n+1)):
    for j in range(1,i+1):
        m=j+1
        print(j,end='')
        if m<i:
            (print(',',end=''))
    
for k in range((n+1),2,-1): #(5,0,-1)
    for w in range(k-1): # 5
        print(w+1,end=',')
    #print(end='')
    #print('\n')

5
1121,231,2,341,2,3,451,2,3,4,5,1,2,3,4,1,2,3,1,2,

#####

In [1]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        if i==j:
            print(j)
        else:
            print(j,end=",")
for k in range(n-1,0,-1):
    for l in range(1,k+1):
        if k==l:
            print(l)
        else:
            print(l, end=",")

5
1
1,2
1,2,3
1,2,3,4
1,2,3,4,5
1,2,3,4
1,2,3
1,2
1

Accept a positive integer n as input and print the list of first n positive integer as output

accept a positive interger n as input and print the list of first n positive integer as output

In [43]:
n = int(input())
l = []
i=1
while i < n:
    for i in range(n):
        l.append(i+1)
        i += 1
        
print(l)

5
[1, 2, 3, 4, 5]

Accept a sequence of word as input, append all words to a list in the order in which they are entered, and print this list as output.the first line in the input is a positive integer n that denotes the number of words in the sequence. the next n lines will have one word on each line.

Accept a sequence of comma separated integer as input and print the maximum value in the sequence as output.

In [86]:
# accept a sequecne of comma seperartd integer
# i will take input as string becoz input has comma and somoehow i have to convert it into integer
n = input()
n = n.split(',')
a=[]
b=[]

for i in range(len(n)):
    if n[i] == ',':
        a.append(n[i])
    else:
        b.append(n[i])
print(b)

for j in range(0,len(b)):
    b[j]=int(b[j])

b.sort()
print(b[-1])

999,54543,654455433,0982904738372
['999', '54543', '654455433', '0982904738372']
982904738372

In [83]:
# accept a sequecne of comma seperartd integer
# i will take input as string becoz input has comma and somoehow i have to convert it into integer

n = input()
a=[]
b=[]

a= n.split(',')
print(a)
# for i in range(len(n)):
#     while n[i] != n[-1]:
#         flag=0
#         if i != ',':
#             a.append(n[i])
#             flag = 1
#         else:
#             b.append(n[i])
#             flag=0
# print(a)
# print(b)
        
      
# for i in range(len(n)):
#     if n[i] == ',':
#         a.append(n[i])
#     else:
#         b.append(n[i])
# print(b)

# for j in range(0,len(b)):
#     b[j]=int(b[j])

# b.sort()
# print(b[-1])

22,33,44
['22', '33', '44']

In [25]:
m=[2,1,4,3,5,8,7,6]

m[0]>m[1]

True

Accept a sequence of word as input, append all these words to a list in the order in which they are entered, and print this list as output. the first line in the input is a positive integer n that denotes the numbers of words in the sequence. The next n lines will have one word on each line.

In [7]:
n = input()
a=[]

for i in range(len(n)):
    a.append(n[i])

print(len(a))

for i in a:
    print(i,end='\n')

abcd
4
a
b
c
d

Accept a comma seperated integers as input and print the maximum value in the sequence as output.

In [17]:
n = input()
n = n.split()
a = []
b = []
for i in range (0,len(n)):
    if i != ',':
        a.append(n[i])
    else:
        b.append(n[i])
        
print(n[0])

1,2,3
1,2,3

accept a space seperated of positive real number as input. convert each element of the sequence into the greatest interger less than or equal to it. print this sequence of interger as input , with comma between consecutive integers.

In [34]:
n = input()
a=[]
b=[]
c=[]
for i in range(len(n)):
    a.append(n[i])

for i in range(len(a)):
    while i !=a[-1]:
        flag=0
        if a[i]==',':
            b.append(a[i])
            flag=0
        else:
            a.append(a[i])
            flag=1
    break
print(a)
print(b)
print(c)

1.2,3.4

KeyboardInterrupt:

In [26]:
a = input()
a = a.split(" ")
a = [int(float(i)) for i in a]
print(a)

1.2 4.5 .78
[1, 4, 0]

In [25]:
int('1.2')

ValueError: invalid literal for int() with base 10: '1.2'

accept a sequence of comma seperated words as input. Reverse the sequence and print the output

In [59]:
n = input()
a=[]
b=[]

n = n.split()
for i in range(len(n)):
    a.append(n[i])

for j in range(len(a),1,-1):
    b.append(a[j])
print(b)
# the 3 conditions
#1. if input is one array, then output will be same array - no change
#2 if input is two array, then output will be reverse the array - only one time revese
#3 if input is more than two array, then output will be swapping first with last one than so on.
# for point 3, we need to check if total number of element is odd or even
# if element count is even than divide it by 2 and revese the order
# else center of the element's position will not change and rest will swap their position.

abcd,efgh,ijkl,mnop
[]

In [14]:
original_list = input()
new_list = [original_list[len(original_list) - i]
            for i in range(1, len(original_list)+1)]
print(new_list)

ab,eg
['g', 'e', ',', 'b', 'a']

In [9]:
a= input()
b=[]
b=a[::-1]
print(b)

abe,ege
ege,eba

In [17]:
original_list = input()
newlist=[]

for i in range(len(original_list)):
    newlist.append(original_list[i])
print(newlist)

ab,cd
['a', 'b', ',', 'c', 'd']

an identity matrix is a square matrix which has ones on the main diagnal and zeros everywhere else. for example, the identity matrix of size 3x3 is 
1 0 0
0 1 0
0 0 1

accept a positive integer n as input and print the identity matrix of size nxn. your output should have n lines, where each line is a sequence of n comma-separated integers that corresponds to one row of the matrix.

In [33]:
n = int(input())
for i in range(0,n):
    for j in range(0,n):
        if i == j:
            print("1",sep=" ", end=" ")
        else:
            print("0",sep=" ",end=" ")
    print()

3
1 0 0
0 1 0
0 0 1

In [54]:
a = int(input('Dimension of matrix A: ' ))
b = int(input('enter 8: ' ))

for i in range(0,a):
    for j in range(0,a):
        if i == j:
            print(i*j,sep='',end='')
        else:
            print(i+j,sep='',end='')
    
    print()
# for z in range(0,b):
#     if z != a:
#         print('8',sep=' ',end=' ')
#     else:
#         break
# print()

Dimension of matrix A: 3
enter 8: 8
012
113
234

Accept two square matrices A and B of dimensions nxn as input and compute their A+B.

In [65]:
one = int(input())
two = int(input())
result= []
for i in range(one):
    for j in range(two):
        result.append(i+j)
print(result,sep='\n')

3
3
[0, 1, 2, 1, 2, 3, 2, 3, 4]

In [25]:
def square_mat(a):
    c=[]
    
    for i in range(a):
        c.append([])
    for i in range(a):
        for j in range(a):
            c[j].append(a)
    return c

In [26]:
square_mat(3)

[[3, 3, 3], [3, 3, 3], [3, 3, 3]]

In [28]:
l = [1,2,3,4]
c=[]

for i in l:
    c.append(i)
print (c)

[1, 2, 3, 4]

In [1]:
import pandas as pd

In [29]:
word = input()

if len(word) % 2 != 0:
    odd = int(((len(word)-1)/2))
    new_odd = int(odd-1)
    print(word[new_odd:2*new_odd+1])
else:
    if (word[-1] == '.'):
        word = word[:-2]
        odd = int(((len(word)-1)/2))
        new_odd = int(odd)
        print(word[new_odd:new_odd+3])
    else:
        word = (word+'.')
        odd = int(((len(word)-1)/2))
        new_odd = int(odd)
        print(word[new_odd-1:new_odd+2])

abcdefghijkh
fgh

In [26]:
word = input()
print(len(word))

abcdefghijk.
12

In [39]:
w1 = input()
w2 = input()
w3 = input()
w4 = input()
w5 = input()
for i in range (len(w1)):
    w1[i] == w2[i]
    for i in range (len(w2)):
        w2[i] == w3[i]
        for i in range (len(w3)):
            w3[i] == w4[i]
            for i in range (len(w4)):
                w4[i] == w5[i]
    print('Magical')

for i in range (len(w1)):
    w1[i] != w2[i]
    for i in range (len(w2)):
        w2[i] != w3[i]
        for i in range (len(w3)):
            w3[i] != w4[i]
            for i in range (len(w4)):
                w4[i] != w5[i]
    print('Non-Magical')

a
bc
bcd
bcde
bcdef
Magical
Non-Magical

In [42]:
w1 = input()
w2 = input()
w3 = input()
w4 = input()
w5 = input()

for i in range(len(w1)):
    for i in range (len(w2)):
        for i in range(len(w3)):
            for i in range(len(w4)):
                for i in range(len(w5)):
                    if w1[i] == w2[i]:
                        if w2[i]==w3[i]:
                            if w3[i]== w4[i]:
                                if w4[i] == w5[i]:
                                    print('magical')

a
ab
abc
abcd
abcde

IndexError: string index out of range